<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        <UL>
            {% for s in state|sort(attribute='name')%}
            <li>State: {{s.id|e}}: <B>{{s.name|e}}</B>
            <UL>
                <H1>Cities</H1>
                {% for c in s.cities|sort(attribute='name')%}
                <li>City: {{c.id|e}}: <B>{{c.name|e}}</B></li>
                {% endfor %}
            </UL>
        </li>
        {% endfor %}
        </UL>
    </BODY>
</HTML>